<div class="panel panel-primary">
    <div class="panel-heading">Expenses Overview</div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">Filter by:</div>
                <div class="col-md-2">
                    <input type="text" [(ngModel)]="expenseFilter" />
                </div>
                <div class="col-md-9" *ngIf="expenseFilter">
                    Filtered by: <strong>{{ expenseFilter }}</strong>
                </div>
            </div>
        </div>
    </div>
    <table class="table" *ngIf="expenses && expenses.length">
        <thead>
        <tr>
            <th>From</th>
            <th>Date</th>
            <th>Amount</th>
            <th>For what</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let expense of expenses | expenseFilter:expenseFilter">
            <td>{{ expense.name | uppercase }}</td>
            <td>{{ expense.date | date:"yyyy-MM-dd" }}</td>
            <td>{{ expense.amount | currency:"EUR":true }}</td>
            <td>{{ expense.reason }}</td>
        </tr>
        </tbody>
    </table>
</div>