<div class="panel panel-primary">
    <div class="panel-heading">Expenses Overview</div>
    
    <div class="panel-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="filterInputTextField" class="col-sm-2 control-label">Filter by:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="filterInputTextField" name="filterInput" [(ngModel)]="expenseFilterInput" placeholder="Name">
                    </div>
                    <div class="col-sm-7 help-block" *ngIf="expenseFilterInput">Filtered by: <strong>{{ expenseFilterInput }}</strong></div>
                </div>
            </div>
        </div>
    </div>

    <table class="table" *ngIf="expenses && expenses.length">
        <thead>
        <tr>
            <th>From</th>
            <th>Date</th>
            <th>Amount</th>
            <th>For what</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let expense of expenses | expenseFilter:expenseFilterInput">
            <td>{{ expense.name | uppercase }}</td>
            <td>{{ expense.date | date:"yyyy-MM-dd" }}</td>
            <td>{{ expense.amount | currency:"EUR":true }}</td>
            <td>{{ expense.reason }}</td>
        </tr>
        </tbody>
    </table>
</div>