<div class="panel panel-primary">
    <div class="panel-heading">Expenses Overview</div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">Filter by:</div>
                <div class="col-md-3">
                    <input type="text" [(ngModel)]="expenseFilterInput" />
                </div>
                <div class="col-md-7" *ngIf="expenseFilterInput">
                    Filtered by: <strong>{{ expenseFilterInput }}</strong>
                </div>
            </div>
        </div>
    </div>
    <table class="table" *ngIf="expenses && expenses.length">
        <thead>
            <tr>
                <th>From</th>
                <th>Date</th>
                <th>Amount</th>
                <th>For what</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses | expenseFilter:expenseFilterInput">
                <td>
                    <a id="{{expense.id}}" [routerLink]="['/expense', expense.id]">{{ expense.name | uppercase }}</a>
                </td>
                <td>{{ expense.date | date:"dd/MM/yyyy" }}</td>
                <td>{{ expense.amount | currency:"EUR":true }}</td>
                <td>{{ expense.reason }}</td>
                <td><a class="glyphicon glyphicon-remove delete" (click)="deleteExpense(expense); $event.stopPropagation()"></a></td>
            </tr>
        </tbody>
    </table>
</div>