<form class="form-horizontal" role="form" #expenseForm="ngForm">

    <div class="form-group has-feedback" [ngClass]="{'has-error': !name.valid && !name.pristine}">
        <label for="name" class="col-sm-1 control-label">Name</label>
        <div class="col-sm-11">
            <input [(ngModel)]="expense.name" name="name" type="text" class="form-control" id="name" #name="ngModel" required placeholder="Name">
            <span class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-remove': !name.valid && !name.pristine}" aria-hidden="true"></span>
            <span *ngIf="!name.valid && !name.pristine" class="help-block">Name is required</span>
        </div>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-error': !date.valid && !date.pristine}">
        <label for="date" class="col-sm-1 control-label">Date</label>
        <div class="col-sm-2">
            <input [(ngModel)]="expense.date" name="date" required type="date" class="form-control" #date="ngModel" id="date" />
            <span class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-remove': !date.valid && !date.pristine}" aria-hidden="true"></span>
            <span *ngIf="!date.valid && !date.pristine" class="help-block">Date is required</span>
        </div>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-error': !text.valid && !text.pristine}">
        <label for="text" class="col-sm-1 control-label">Text</label>
        <div class="col-sm-11">
            <textarea [(ngModel)]="expense.text" name="text" rows="2" required type="text" class="form-control" #text="ngModel" id="text" placeholder="Text"></textarea>
            <span class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-remove': !text.valid && !text.pristine}" aria-hidden="true"></span>
            <span *ngIf="!text.valid && !text.pristine" class="help-block">Text is required</span>
        </div>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-error': !amount.valid && !amount.pristine}">
        <label for="amount" class="col-sm-1 control-label">Amount</label>
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon">&euro;</span>
                <input [(ngModel)]="expense.amount" name="amount" required type="number" step="0.01" ngClass="['']" class="form-control" id="amount" #amount="ngModel" />
            </div>
            <span class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-remove': !amount.valid && !amount.pristine}" aria-hidden="true"></span>
            <span *ngIf="!amount.valid && !amount.pristine" class="help-block">Amount is required</span>
        </div>
    </div>

    <div class="form-group">
        <label for="reason" class="col-sm-1 control-label">Reason</label>
        <div class="col-sm-2">
            <select [(ngModel)]="expense.reason" class="form-control" id="reason" name="reason" required>
                <option [selected]="expense.reason === 'Flight'" [value]="'Flight'">Flight</option>
                <option [selected]="expense.reason === 'Train'" [value]="'Train'">Train</option>
                <option [selected]="expense.reason === 'Bus'" [value]="'Bus'">Bus</option>
                <option [selected]="expense.reason === 'Taxi'" [value]="'Taxi'">Taxi</option>
                <option [selected]="expense.reason === 'Hotel'" [value]="'Hotel'">Hotel</option>
                <option [selected]="expense.reason === 'Restaurant'" [value]="'Restaurant'">Restaurant</option>
                <option [selected]="expense.reason === 'Other'" [value]="'Other'">Other</option>
            </select>
        </div>
    </div>
</form>