<div class="panel panel-primary" *ngIf="expense">
    <div class="panel-heading">Receipt from {{ expense.name }}</div>
    <div class="panel-body">
        <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
            <strong>Oh snap!</strong> {{errorMessage}}
        </div>
        <expense-form [expense]="expense"></expense-form>
    </div>
    <div class="panel-footer">
        <div class="btn-group">
            <a class="btn btn-default" (click)="goBack()"><i class="glyphicon glyphicon-chevron-left"></i> Back to Overview</a>
            <a class="btn btn-primary" (click)="saveExpense()"><i class="glyphicon glyphicon-save"></i> Save expense</a>
        </div>
    </div>
</div>