<div class="panel panel-primary" *ngIf="expenses && expenses.length">
    <div class="panel-heading">Expenses Overview</div>
    <table class="table">
        <thead>
            <tr>
                <th>From</th>
                <th>Date</th>
                <th>Amount</th>
                <th>For what</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses">
                <td>{{ expense.name }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.reason }}</td>
            </tr>
        </tbody>
    </table>
</div>