<div class="panel panel-primary">
    <div class="panel-heading text-center">{{ pageTitle }}</div>
    <div class="panel-body"  >
        <div class="row" >
                <img src="{{ zuehlkeLogo }}" class="img-responsive center-block" style="max-height:200px;padding-bottom:20px"/>
        </div>
        <div class="row">
            <h3 class="text-center">Markus Rehrs & Stefan Benz</h3>
            <div class="text-center">
                <a href="mailto:markus.rehrs@zuehlke.com">markus.rehrs@zuehlke.com</a>,
                <a href="mailto:stefan.benz@zuehlke.com">stefan.benz@zuehlke.com</a>
            </div>
        </div>
    </div>
</div>