<div class="panel panel-primary">
    <div class="panel-heading">Expenses Overview</div>
    
    <div class="panel-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="filterInputTextField" class="col-sm-2 control-label">Filter by:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="filterInputTextField" name="filterInput" [(ngModel)]="expenseFilterInput" placeholder="Name">
                    </div>
                    <div class="col-sm-7 help-block" *ngIf="expenseFilterInput">Filtered by: <strong>{{ expenseFilterInput }}</strong></div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
                <strong>Oh snap!</strong> {{errorMessage}}
            </div>
        </div>
    </div>

    <table class="table" *ngIf="expenses && expenses.length">
        <thead>
            <tr>
                <th>From</th>
                <th>Date</th>
                <th>Amount</th>
                <th>For what</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses | expenseFilter:expenseFilterInput">
                <td>
                    <a id="{{expense.id}}" [routerLink]="['/expense', expense.id]">{{ expense.name | uppercase }}</a>
                </td>
                <td>{{ expense.date | date:"dd/MM/yyyy" }}</td>
                <td>{{ expense.amount | currency:"EUR":true }}</td>
                <td>{{ expense.reason }}</td>
                <td>
                    <a class="glyphicon glyphicon-remove delete" (click)="deleteExpense(expense); $event.stopPropagation()"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <a class="btn btn-primary" [routerLink]="['/expense/add']"><span class="glyphicon glyphicon-plus"></span> Add new expense</a>
    </div>
</div>